DATABASE_URL="file:./dev.db"

JWT_SECRET="your_jwt_secret_here"
JWT_EXPIRES_IN="1d"

QR_SECRET="your_qr_secret_here"

TMDB_ACCESS_TOKEN="your_tmdb_read_access_token_here"
TICKETMASTER_API_KEY="your_ticketmaster_api_key_here"

PORT=3000